<div>
    <nav class="navbar navbar-expand-sm navbar-danger bg-danger">
        
        <h2><img src="https://image.flaticon.com/icons/png/512/60/60178.png" alt="" style="width:50px">
            Hospital Veterinario UTA</h2>
   

        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
          

        
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>   Bienvenido Alex
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a href="perfil.html" class="dropdown-item"><i class="fas fa-user-circle"></i> Perfil</a></li>
                          <li> <a href="#" class="dropdown-item"><i class="fas fa-cog"></i> Configuraciones</a></li>
                          
                        </ul>
                      </li>
                    
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="fas fa-user-times"></i> Salir
                        </a>
                    </li>
                </ul>
            
        </div>
       
    </nav>

    <!--Layout principal-->
    <div class="container-fluid mt-5">
        <div class="row">
            <!--Layout de 3 columnas-->
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4><i class="fas fa-align-justify"></i> Menú Principal</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Historia Clinica</a>
                              <!--   <span class="badge badge-primary badge-pill">10</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Hospitalización</a>
                              <!--   <span class="badge badge-primary badge-pill">200</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Quirúrgico</a>
                              <!--   <span class="badge badge-primary badge-pill">500</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Post-Quirúrgico</a>
                              <!--   <span class="badge badge-primary badge-pill">14</span> -->
                            </li>
                           
                        </ul>
                    </div>
                </div>

                <div class="card mt-5">
                        <div class="card-header bg-dark text-white">
                            <h4><i class="fas fa-align-justify"></i> Administración</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Usuarios</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Mascotas</a>                                   
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Turnos</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="">Configuraciones</a>                                  
                                </li>
                               
                            </ul>
                        </div>
                    </div>

            </div>

            <!--Layout de 9 columnas-->
            <div class="col-sm-12 col-md-9">
               <div class="card">
                   <div class="card-header bg-dark text-white">
                       <h4><i class="fas fa-shopping-card"></i> Panel de Control</h4>
                   </div>
                   <div class="card-body">
                       <!--USAMOS FLEXBOX AQUI JUSTIFY CONTENT - CONTENT AROUND-->
                       <div class="d-flex justify-content-around row-h1">
                           <div class="col-sm-12 col-md-3 card py-3 bg-danger text-center text-white">
                                <i class="fas fa-calendar" style="font-size: 4rem;"></i>
                                <h4>Turnos para hoy</h4>
                                <p>2 turnos para hoy</p>            
                           </div>

                           <div class="col-sm-12 col-md-3 card py-3 bg-warning text-center text-white">
                                <i class="fas fa-calendar-week" style="font-size: 4rem;"></i>
                                
                                <h4>Tunos en esta semana</h4>
                                <p>10 turnos para esta semana</p>            
                           </div>

                           <div class="col-sm-12 col-md-3 card py-3 bg-success text-center text-white">
                                <i class="fas fa-calendar-alt" style="font-size: 4rem;"></i>
                                <h4>Turnos en el mes</h4>
                                <p>50 turnos para esta semana</p>            
                           </div>
                       </div>
                   </div>
               </div>


               <!--Últimos productos-->
               <div class="card mt-5">
                   <div class="card-header bg-dark text-white">
                       <h4><i class="fas fa-calendar mr-2"></i>Turnos del día</h4>
                   </div>
                   <div class="card-body">
                       <table class="table table-striped">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Hora</th>
                                   <th>Paciente</th>
                                   <th>Tipo Consulta</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>1</td>
                                   <td>10:00 AM</td>
                                   <td>Chimuelo</td>
                                   <td>Consulta interna</td>
                               </tr>
                               <tr>
                                    <td>2</td>
                                    <td>10:30 AM</td>
                                    <td>Sol</td>
                                    <td>Consulta externa</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>13:00 PM</td>
                                    <td>Sergio</td>
                                    <td>Consulta interna</td>
                                </tr>
                           </tbody>
                       </table>
                   </div>
               </div>

               <!--Paginación-->
             <!--   <div class="mt-3">
                   <nav aria-label="Page navigation">
                       <ul class="pagination">
                           <li class="page-item">
                               <a href="#" class="page-link" aria-label="Previous">
                                   <span aria-hidden="true">&laquo;</span>
                               </a>
                           </li>
                           <li class="page-item active">
                               <a href="#" class="page-link">1</a>
                           </li>
                           <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                       </ul>
                   </nav>
               </div> -->

               
            </div>
        </div>
    </div>


</div>
