<div class="card text-center" id="cardEncabezado">
    <div class="card-header">
      <h4><strong>HOSPITAL DOCENTE VETERINARIO</strong></h4>
      <h5><strong>UNIVERSIDAD TÉCNICA DE AMBATO</strong></h5>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="historiaClinica" class="col-sm-4 col-form-label lblLeft">Nº Historia Clínica</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="historiaClinica" readonly>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="diaAdmision" class="col-sm-4 col-form-label lblLeft">Día de Admisión</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="diaAdmision" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">Propietario</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="diaAdmision">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">C.I. Nº</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="diaAdmision">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">E-mail:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">Dirección: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft"> Ciudad: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">Teléfono/Celular:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">E-mail:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">Transporte</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select> 
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputState" class="col-sm-4 col-form-label lblLeft">Móvil</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">Fecha Inicio</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">Fecha Fin</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">Número de días</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">F. Finalización</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label for="inputCity" class="col-sm-4 col-form-label lblLeft">F. Liquidación</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputCity">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="exampleFormControlTextarea1" class="col-form-label">Actividad</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-sm-6">
          <label for="exampleFormControlTextarea" class="col-form-label">Observación</label>
          <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer card-header">
      <h5 class="lblLeft"><strong>Integrantes</strong></h5>
    </div>
    <div class="card-body">
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escriba para buscar...">
      <datalist id="datalistOptions">
        <option value="101 | Daysy Iza">
        <option value="102 | Jhon Deep">
        <option value="103 | Jacon Otto">
        <option value="104 | Mark Zucaritas">
      </datalist>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Empleado</th>
              <th scope="col">Cargo</th>
              <th scope="col">Régimen Laboral</th>
              <th scope="col">Escala</th>
              <th scope="col">Zona-Escala</th>
              <th scope="col">Destino</th>
              <th scope="col">Sueldo</th>
              <th scope="col">F. Inicio</th>
              <th scope="col">F. Fin</th>
              <th scope="col">Diás Viáticos</th>
              <th scope="col">Diás Subsistencia</th>
              <th scope="col">Viáticos</th>
              <th scope="col">Subsistencia</th>
              <th scope="col">SubTotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mark Otto</th>
              <td>Electricista</td>
              <td>----</td>
              <td>----</td>
              <td>----</td>
              <td>Morona Santiago</td>
              <td>700</td>
              <td><input type="date" class="form-control" id="inputCity" value="2021-10-01"></td>
              <td><input type="date" class="form-control" id="inputCity" value="2021-10-10"></td>
              <td><input type="number" class="form-control inputTextRight" id="inputCity" value="2"></td>
              <td><input type="number" class="form-control inputTextRight" id="inputCity" value="1"></td>
              <td>15</td>
              <td>30</td>
              <td>50</td>
            </tr>
            <tr>
              <th scope="row">Mark Otto</th>
              <td>Electricista</td>
              <td>----</td>
              <td>----</td>
              <td>----</td>
              <td>Morona Santiago</td>
              <td>700</td>
              <td><input type="date" class="form-control" id="inputCity" value="2021-10-01"></td>
              <td><input type="date" class="form-control" id="inputCity" value="2021-10-10"></td>
              <td><input type="number" class="form-control inputTextRight" id="inputCity" value="2"></td>
              <td><input type="number" class="form-control inputTextRight" id="inputCity" value="1"></td>
              <td>15</td>
              <td>30</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-2 justify-content-end">
        <label for="inputCity" class="col-sm-2 col-form-label lblRight">Movilización y parqueo</label>
        <div class="col-sm-2">
          <input type="text" class="form-control inputTextRight" id="inputCity" value="10">
        </div>
      </div>
      <div class="row mb-2 justify-content-end">
        <label for="inputCity" class="col-sm-2 col-form-label lblRight" >Total</label>
      <div class="col-sm-2">
        <input type="text" class="form-control inputTextRight" id="inputCity" value="60">
      </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
