<div>
    <nav class="navbar navbar-expand-sm navbar-danger bg-danger">
    <div class="container">
        <h2><img src="https://image.flaticon.com/icons/png/512/60/60178.png" alt="" style="width:50px">
            Hospital Veterinario UTA</h2>
   

        
            <form class="d-flex">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>   Bienvenido Alex
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a href="perfil.html" class="dropdown-item"><i class="fas fa-user-circle"></i> Perfil</a></li>
                          <li> <a href="#" class="dropdown-item"><i class="fas fa-cog"></i> Configuraciones</a></li>
                          
                        </ul>
                      </li>
                    
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="fas fa-user-times"></i> Salir
                        </a>
                    </li>
                </ul>
            
        </div>
            </form>
    </div>
    </nav>

    <!--Layout principal-->
    <div class="container-fluid mt-5">
        <div class="row">
            <!--Layout de 3 columnas-->
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4><i class="fas fa-align-justify"></i> Menú Principal</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center ">
                                <a class="text-dark" href="historia">Historia Clinica</a>
                              <!--   <span class="badge badge-primary badge-pill">10</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center bg-danger">
                                <a class="text-white" href="hospitalizacion">Hospitalización</a>
                              <!--   <span class="badge badge-primary badge-pill">200</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Quirúrgico</a>
                              <!--   <span class="badge badge-primary badge-pill">500</span> -->
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="inicio">Post-Quirúrgico</a>
                              <!--   <span class="badge badge-primary badge-pill">14</span> -->
                            </li>
                           
                        </ul>
                    </div>
                </div>

                <div class="card mt-5">
                        <div class="card-header bg-dark text-white">
                            <h4><i class="fas fa-align-justify"></i> Administración</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Usuarios</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Mascotas</a>                                   
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">Turnos</a>                                  
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="">Configuraciones</a>                                  
                                </li>
                               
                            </ul>
                        </div>
                    </div>

            </div>

            <!--Layout de 9 columnas-->
            <div class="col-sm-12 col-md-9">
                <div class="row">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="panel.html">Inicio</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">Hospitalización</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                

           
               <div class="card mt-2">
                   <div class="card-header bg-dark text-white">
                       <h4><!-- <i class="fas fa-table"></i> -->Hospitalización</h4>
                   </div>
                  

                   <div class="container-fluid">
                    <br>
                  <div class="card">
                    <div class="row border-secondary">
                           <!-- Start Ficha--> 
                            <div class="col left">
                              <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        HOSPITAL DOCENTE VETERINARIO
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      
                                      <div class="form-group row"> 
                                  
                                        <div class=" col-md-3" >
                                            <label  for="especie">N° Historia Clínica</label>
                                          <label for=""></label>
                                        </div> 
                                        <div class=" col-md-3" > 
                                            <label for="">  Día de Admisión</label> 
                                            <input type="date" class="form-control">
                                        </div>     
                                        <div class=" col-md-2" >
                                            <label  for="hora">Hora</label>
                                            <input class="form-control" id="hora" name="hora" type="time">  
                                        </div> 
                                      </div>
                                      <div class="form-group row"> 
                                      <div class=" col-md-4" >
                                        <label  for="paciente">Paciente</label>
                                        <input class="form-control" id="paciente" name="paciente"> 
                                        </div>  
                                     <div class=" col-md-4" > 
                                      <label for="mvzcargo">MVZ a cargo</label>
                                        <input type="text" class="form-control"  name="mvzcargo" id="mvzcargo" />
                                     </div>  
                                   
                                     </div>
                                     <div class="form-group row"> 
                                        <div class="col-md-8">
                                            <label>DIAGNÓSTICO</label>
                                            <input type="text" class="form-control">
                                        </div> 
                                      </div>
                                      <div class="form-group row"> 
                                        <div class="col-md-8">
                                            <label>PRONÓSTICO</label> 
                                            <select class="form-select">
                                              <option>Seleccione...</option>
                                              <option>Bueno</option>
                                              <option>Malo</option> 
                                              <option>Reservado</option>
                                          </select>
                                        </div>
                                        
                                      </div>
                                      <div class="form-group row">
                                        <div class="col-md-8">
                                            <label>OBSERVACIONES
                                            </label>
                                            <textarea class="form-control" name="" id="" cols="30"></textarea> 
                                        </div> 
                                    </div>  
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        CONSTANTES FISIOLÓGICAS
                                    </button>
                                  </h2>
                                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                      <div class="accordion-body"> 
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                          </div>
                                          <div class=" col-md-1" >
                                            <label for="fecha">Fecha</label>
                                          </div>
                                          <div class=" col-md-4" >
                                            <input type="date" name="fecha" id="fecha" class="form-control">
                                          </div>
                                          <div class=" col-md-1" >
                                            <input type="text" value="Agregar" class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                          </div>
                                          <div class=" col-md-2" >
                                            <label for="">AM</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <label for="">PM</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <label for="">PM</label>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Hora</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="time"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="time"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="time"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Peso (kg)</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Tº (ºC)</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Auscultación cardiaca</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Soplo</option>
                                              <option value="">Choque precordial</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Soplo</option>
                                              <option value="">Choque precordial</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Soplo</option>
                                              <option value="">Choque precordial</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">F. Respiratoria </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Auscultación pulmonar</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Normal</option>
                                              <option value="">Sibilancias</option>
                                              <option value="">Roncus</option>
                                              <option value="">Estridores</option>
                                              <option value="">Estertores</option>
                                              <option value="">Frote pleural</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Normal</option>
                                              <option value="">Sibilancias</option>
                                              <option value="">Roncus</option>
                                              <option value="">Estridores</option>
                                              <option value="">Estertores</option>
                                              <option value="">Frote pleural</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Normal</option>
                                              <option value="">Sibilancias</option>
                                              <option value="">Roncus</option>
                                              <option value="">Estridores</option>
                                              <option value="">Estertores</option>
                                              <option value="">Frote pleural</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Pulso </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">TLLC (seg) </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Mucosas (color) </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Normal</option>
                                              <option value="">Sibilancias</option>
                                              <option value="">Roncus</option>
                                              <option value="">Estridores</option>
                                              <option value="">Estertores</option>
                                              <option value="">Frote pleural</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Rosadas</option>
                                              <option value="">Pálidas</option>
                                              <option value="">Cianóticas</option>
                                              <option value="">Hiperémicas</option>
                                              <option value="">Ictéricas</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Normal</option>
                                              <option value="">Sibilancias</option>
                                              <option value="">Roncus</option>
                                              <option value="">Estridores</option>
                                              <option value="">Estertores</option>
                                              <option value="">Frote pleural</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Pliegue cutáneo  </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="text"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="text"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="text"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Deshidratación (%) </label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                          <div class=" col-md-2" >
                                            <input type="number"  class="form-control">
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Defecación</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" > 
                                          </div>
                                          <div class=" col-md-2" >
                                           <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Orina</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" > 
                                          </div>
                                          <div class=" col-md-2" >
                                           <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                        </div> 
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Vómitos</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" > 
                                          </div>
                                          <div class=" col-md-2" >
                                           <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Secreciones</label>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                          <div class=" col-md-2" >
                                            <select name="" id=""  class="form-select">
                                              <option >Seleccione...</option>
                                              <option value="">Si</option>
                                              <option value="">No</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" > 
                                          </div>
                                          <div class=" col-md-2" >
                                           <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div> 
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                          <div class=" col-md-2" >
                                            <textarea name="" id="" class="form-control" placeholder="Tipo"></textarea>
                                          </div>
                                        </div>
                                        <div class="form-group row"> 
                                          <div class=" col-md-2" >
                                            <label for="">Encargado</label>
                                          </div>
                                          <div class=" col-md-2" >
                                           <input type="text" class="form-control">
                                            </div> 
                                           <div class=" col-md-2" >
                                            <input type="text" class="form-control">
                
                                            </div>
                                           <div class=" col-md-2" >
                                            <input type="text" class="form-control"> 
                                          </div>
                                        </div>
                                        
                                      <div class="form-group row"> 
                                        <div class=" col-md-8" >
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Constante</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">AM</th>
                                                <th scope="col">PM</th>
                                                <th scope="col">PM</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">1</th>
                                                <td>Hemograma</td>
                                                <td>10/08/2021</td>
                                                <td>Lab</td>
                                                <td>Lab</td>
                                              </tr> 
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        EXÁMENES REALIZADOS
                                    </button>
                                  </h2>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">   
                                      <div class="form-group row"> 
                                        <div class=" col-md-2" >
                                          <label for="">Examen</label>
                                          <select name="" id=""  class="form-select">
                                            <option >Seleccione... </option>
                                            <option value="">Hemograma</option>
                                            <option value="">Bioquímica</option>
                                            <option value="">EMO</option>
                                            <option value="">Cultivo</option>
                                            <option value="">Antibiograma</option>
                                            <option value="">Citología</option>
                                            <option value="">Histopatológico</option>
                                            <option value="">RX</option>
                                            <option value="">Ecografía </option>
                                            <option value="">ECG</option>
                                            <option value="">RM </option>
                                            <option value="">TAC </option>
                                            <option value="">Otro </option>
                                          </select>
                                        </div>
                                        <div class=" col-md-2" >
                                          <label for="">Fecha </label>
                                          <input type="date"  class="form-control">
                                        </div>
                                        <div class=" col-md-3" >
                                          <label for="">Laboratorio </label>
                                          <input type="text" class="form-control">
                                        </div>
                                      </div>
                                         
                                      <div class="form-group row"> 
                                        <div class=" col-md-6" >
                                          <label for="">Resultados</label>
                                          <textarea name="" id="" class="form-control"></textarea>
                                        </div>
                                        <div class=" col-md-1" > 
                                          <label for="" >`</label>
                                         <input type="button" value="Agregar" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group row"> 
                                        <div class=" col-md-7" >
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Examen</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Laboratorio</th>
                                                <th scope="col">Resultados</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">1</th>
                                                <td>Hemograma</td>
                                                <td>10/08/2021</td>
                                                <td>Lab</td>
                                                <td>Lab</td>
                                              </tr> 
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        PLAN TERAPÉUTICO
                                    </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body"> 
                                      <div class="form-group row"> 
                                        <div class=" col-md-2" > 
                                            <label for="otra">Fármaco</label>
                                            <input type="text" class="form-control" id="otra" name="otra" placeholder="  Fármaco ">
                                        </div> 
                                        <div class=" col-md-1" > 
                                            <label for="otra">Dosis (mg/Kg)</label>
                                            <input type="text" class="form-control" id="otra" name="otra" placeholder="">
                                        </div>
                                        <div class=" col-md-1" > 
                                            <label for="otra">Dosis calc.</label>
                                            <input type="text" class="form-control" id="otra" name="otra" placeholder="">
                                        </div>
                                        <div class=" col-md-2 " > 
                                            <label for="otra">Vía Adm</label>
                                            <select name="" id="" class="form-select">
                                              <option value="">Seleccione...</option>
                                              <option value="">Intravenoso	</option>
                                              <option value="">Intramuscular	</option>
                                              <option value="">Subcutáneo	</option>
                                              <option value="">Oral	</option>
                                              <option value="">Intraperitoneal	</option>
                                              <option value="">Instilación	</option>
                                            </select>
                                        </div> 
                                     </div> 
                                     
                                 <div class="form-group row">  
                                      <div class=" col-md-2 " > 
                                        <label for="">Frecuencia (horas) </label>
                                        <select name="" id="" class="form-select">
                                          <option value="">Seleccione...</option>
                                          <option value="">4	</option>
                                          <option value="">6	</option>
                                          <option value="">8	</option>
                                          <option value="">12	</option>
                                          <option value="">24	</option>
                                          <option value="">Dosis única		</option>
                                        </select>
                                     </div>
                                    <div class=" col-md-1 " > 
                                      <label for="">Días </label>
                                      <input type="number" class="form-control">
                                    </div>
                                    <div class=" col-md-2" > 
                                      <label for="">Observaciones </label>
                                      <input type="text" class="form-control">
                                    </div>
                                    <div class=" col-md-1 " > 
                                      <label for=""> `</label>
                                      <input type="button" class="form-control" value="Agregar">
                                    </div>
                                     </div>
                                     <div class=" col-md-6" >
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Fármaco</th>
                                            <th scope="col">Dosis (mg/Kg)</th>
                                            <th scope="col">Dosis calculada</th>
                                            <th scope="col">Vía Adm</th>
                                            <th scope="col">Frecuencia (horas)</th>
                                            <th scope="col">Días</th>
                                            <th scope="col">Observaciones</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Fármaco</td>
                                            <td>10</td>
                                            <td>8</td>
                                            <td>8</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>Sin obs</td>
                                          </tr> 
                                        </tbody>
                                      </table>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              
                                        CONTROL TERAPÉUTICO
                                      </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <div class="form-group row">  
                                          <div class=" col-md-2" > 
                                            <label for="otra">Fecha</label>
                                            <input type="date" class="form-control">
                                        </div> 
                                        <div class=" col-md-1" > 
                                          <label for="otra">Hora</label>
                                          <input type="time" class="form-control">
                                      </div> 
                                          <div class=" col-md-2" > 
                                              <label for="otra">Fármaco</label>
                                             <select name="" id="" class="form-select">
                                               <option value="">Fármaco 1</option>
                                               <option value="">Fármaco 2</option>
                                             </select>
                                          </div> 
                                          <div class=" col-md-2" > 
                                            <label for="">Dosis</label>
                                           <select name="" id="" class="form-select">
                                             <option value="">Dosis 1</option>
                                             <option value="">Dosis 2</option>
                                           </select>
                                        </div> 
                                       </div> 
                                      <div class="form-group row">  
                                        <div class=" col-md-2" > 
                                          <label for="">Vía</label>
                                         <select name="" id="" class="form-select">
                                           <option value="">Vía 1</option>
                                           <option value="">Vía 2</option>
                                         </select>
                                        </div> 
                                        <div class=" col-md-2" > 
                                        <label for="otra">Encargado</label>
                                        <input type="text" class="form-control" id="otra" name="otra" placeholder="">
                                       </div> 
                                       <div class=" col-md-2" > 
                                        <label for="otra">Observaciones</label>
                                        <input type="text" class="form-control" id="otra" name="otra" placeholder="">
                                        </div> 
                                        <div class=" col-md-1" > 
                                        <label for=""></label>
                                        <input type="button" class="form-control"  value="Agregar">
                                       </div> 
                                  </div>
                                   <div class="form-group row">  
                                       <div class=" col-md-7" >
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Hora</th>
                                              <th scope="col">Fármaco</th>
                                              <th scope="col">Dosis</th> 
                                              <th scope="col">Vía</th>
                                              <th scope="col">Encargado</th>
                                              <th scope="col">Observaciones</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>11/08/2021</td>
                                              <td>10:10</td>
                                              <td>Fármaco 8</td>
                                              <td>8</td>
                                              <td>Oral</td>
                                              <td>Maria Perez</td>
                                              <td>Sin obs</td>
                                            </tr> 
                                          </tbody>
                                        </table>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>


</div>
