/* You can add global styles to this file, and also import other style files */
/*Estilo global*/
body, h1, h2, h3, h4, h5, h6, p, ul, li, a{
    font-family: 'Ubuntu', sans-serif;
}
a{
    color: #000 !important;
    text-decoration: none !important;
}
#main-footer{
    margin-top: 200px !important;
}
#cardEncabezado {
    width: 96%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  #btnCancelar {
    margin-right: 1%;
  }
  #titulo {
    margin-top: 1%;
  }
  
  .lblLeft {
    text-align: left;
  }
  .lblRight {
    text-align: right;
  }
  .inputTextRight{
    text-align: right;
  }
  
  .table-responsive {
    margin-bottom: 2%;
  }